.name-form-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
}

.label-text-name {
    color: #50bfff;
    padding: 10px;
}

.name-input {
    margin: 20px;
    min-height: 25px;
    max-width: 80%;
}