.name-form-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
}

.label-text-name {
    color: aqua;
    padding: 10px;
}

.name-input {
    margin: 20px auto;
    min-height: 25px;
    width: 80%;
    display: block;
}