.name-form-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 200px;
}

.label-text-name {
    color: #50bfff;
    padding: 10px;
}

.name-input {
    margin: 20px;
    min-height: 20px;
    max-width: 40%;
}