.form-container-costume {
    display: flex;
    flex-direction: column;
    color: aqua;
}

.label-costume {
    padding: 10px;
}

.costume-input {
    margin: 20px;
    min-height: 30px;
    max-width: 80%;
}