:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  background-color: #261b28;
  width: 100%;
  background-image: url(./assets/shooting-star-2024127_1280.png);
}

header {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 10px;
}

h1 {
  color: #fcffca;
}

h2 {
  color: #fcffca;
}

h3 {
  color: #fcffca;
}

p {
  color: #fcffca;
}

.button {
  background-color: #50bfff;
  padding: 3px;
  margin: 10px;
  width: 40%;
  height: 30px;
}

.button:hover {
  background-color: #fcffca;
  cursor: pointer;
}

.multistep-form-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border: solid, #50bfff;
  border-radius: 10px;
  padding: 2%;
  margin: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}